# Archivos sensibles
.env
.venv
config.json
/venv

# Dependencias
node_modules/
vendor/

# Archivos generados
*.pyc
*.log
dist/
build/

# Configuración de IDE
.vscode/
.idea/

# Claves o certificados
*.key
*.pem

# Ignorar bases de datos y volúmenes locales
*.db
*.sqlite
*.sql
*.log

/instance